body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
    user-select: none;
}

.conteiner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px 60px;
}

h2 {
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 10px 20px;
    width: 100%;
    color: #fff;
    background-color: #007BFF;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.reset:hover {
    background-color: #0056b3;
}
#attempts { font-size: 1.5em; 
    color: #333; 
    font-weight: bold; 
    margin-bottom: 20px;}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-size: 2em;
    transform: rotateY(180deg);
    transition: transform 0.6s, box-shadow 0.3s;
    border-radius: 10px;
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #404040;
    transition: transform 0.6s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border-radius: 10px;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after, .matched::after {
    transform: rotateY(180deg);
}

.matched {
    box-shadow: 0 0 10px #00ff00;
}

.item:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@keyframes flipOpen {
    0% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes flipClose {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

.item.boxOpen {
    animation: flipOpen 0.5s;
}

.item:not(.boxOpen):not(.matched) {
    animation: flipClose 0.5s;
}
